body {
    padding: 40px;
    font-family: sans-serif;
}

h1, ul, li, a {
    display: inline-block;
}

nav {
    border-bottom: 2px solid black;
}

ul {
    padding-left: 100px;
}

h1 {
    font-size: 32px;
}

li {
    list-style-type: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: green;
}

