@media (max-width: 600px) {
    .thumbnails {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .thumbnails div {
        width: 100%;
        margin-bottom: 35px;
    }

    .thumbnails div a {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .thumbnails img {
        height: 350px;
        width: 525px;
    }
}